@import '../../styles/variables.css';

.form {
    background: var(--white);
    border-radius: var(--sm-border-radius);
    text-align: left;
}

.validatorWrapper {
    height: 24px;
    position: relative;

    .error {
        position: absolute;
        z-index: 2;
        background: white;
        border: 1px solid red;
        border-radius: 8px;
        padding: 8px;
        max-width: 80%;
        right: 0;
        color: red;
    }
}